.incredibowl-layout{
  width:1020px;
  margin:auto;
}
.scorebox-layout{
  width: 100%;
  height: 100px;
}

.lane-layout{
  width: 100%;
  height: 300px;
  margin-top:16px;
}

.ball-control-layout{
  width: 100%;
  height: 100px;
}

.ball-controller-cont{
  width:1000px;
  height:100px;
}

.ball-controller-panel{
  width:400px;
  height: 80px;
  background-color: #EEEEEE;
  margin: auto;
  position:relative;
  padding-top: 16px;
  padding-bottom: 16px;
}

.bowling-ball {
  height:80px;
  width: 80px;
  border-radius: 40px;
  background-color: #ff8200;
}

.callToAction{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #444444;
  color: white;
  text-align: center;
  line-height:116px;
  font-size: 30px;
  cursor: pointer
}
